<!DOCTYPE html>
<html>
  <head></head>
<body>
    
<div class="tab">
  <button class="tablinks"><a class="prettyLink" href="/static_pages/home"> Home </a></button>
  <button class="tablinks"><a class="prettyLink" href="/static_pages/courses"> Courses </a></button>
  <button class="tablinks active" id="defaultOpen"><a class="prettyLink" href="/static_pages/contact"> Contact Us </a></button>
  <button class="tablinks"><%= link_to "Log In", login_path, method: :get, class: "prettyLink" %></button>
</div>

<div id="Contact" class="tabcontent">
  <h3>Contact Us</h3>
  <p>TO BE COMPLETED</p>
</div>

<script>
  document.getElementById("defaultOpen").click();
</script>

</body>
</html> 