<!DOCTYPE html>
<html>
  <head></head>
<body>
    
<div class="tab">
  <button class="tablinks"><a class="prettyLink" href="/static_pages/home"> Home </a></button>
  <button class="tablinks active"><a class="prettyLink" href="/static_pages/courses"> Courses </a></button>
  <button class="tablinks"><a class="prettyLink" href="/static_pages/contact"> Contact Us </a></button>
  <button class="tablinks"><%= link_to "Log In", login_path, method: :get, class: "prettyLink" %></button>
</div>

<div id="Courses" class="tabcontent">
  <h3>Courses</h3>
  
  <!-- These buttons would call a function from the Course handler -->
  <button class="course"> <a href="/static_pages/home">Course 1</a> </button>
  <button class="course"> <a href="/static_pages/home">Course 2</a></button>
  <button class="course"> <a href="/static_pages/home">Course 3</a></button>
  <br>
  <button class="course"> <a href="/static_pages/home">Course 4</a></button>
  <button class="course"> <a href="/static_pages/home">Course 5</a></button>
  <button class="course"> <a href="/static_pages/home">Course 6</a></button>
</div>

</body>
</html> 