<!DOCTYPE html>
<html>
<head></head>
<body>
    
<!--<div class="tab">
  <button class="tablinks active"><%= link_to "Home", home_path, class: "prettyLink" %></button>
  <button class="tablinks"><%= link_to "Courses", courses_path, class: "prettyLink" %></button>
  <button class="tablinks"><%= link_to "Contact Us", contact_path, class: "prettyLink" %></button>
  <button class="tablinks"><%= link_to "Log In", login_path, method: :get, class: "prettyLink" %></button>
</div>-->

<div id="Home">
  <h3>Home Page</h3>
  <p>This is the first tab. You're not logged in or not an admin</p>
</div>

</body>
</html> 