<!DOCTYPE html>
<html>
<head></head>
<body>
    
<div id="Home">
  <h1></h1>
  <div class= "logo">
    <%= image_tag("MassageContEdu.png", width: '1100px', align: 'center') %>
  </div>
  <div class= "bio">
    <%= image_tag("bettyBio.png", width: '1100px', align: 'center') %>
  </div>
  <div class= "Why study with Betty">
    <%= image_tag("Temp_whystudywithB.png", width: '1100px', align: 'center') %>
  </div>
</div>

</body>
</html> 