<h1>Desempaquetar Password</h1>

<p>Para desempaquetar su password, haga clic el siguiente enlace:</p>

<%= link_to "Reset password", edit_password_reset_url(@user.reset_token,
                                                      email: @user.email) %>

<p>Este enlace expirará en un día.</p>

<p>
Si no quiere cambiar su password, por favor ignore este email y su password no cambiará.
</p>