<!DOCTYPE html>
<html>
<head></head>
<body>
    
<!-- OPTION: the tabs can be changed into static pages for organization purposes -->
<div class="tab">
  <button class="tablinks active"><a class="prettyLink" href="/admin_pages/active_courses"> Active Courses </a></button>
  <button class="tablinks" ><a class="prettyLink" href="/admin_pages/add_course"> Add Course </a></button>
  <button class="tablinks"><a class="prettyLink" href="/admin_pages/edit_course"> Edit Course </a></button>
  <button class="tablinks"><a class="prettyLink"  href="/admin_pages/delete_course"> Delete Course </a></button>
</div>

<div id="Active" class="tabcontent">
  <h3>Active Tab</h3>
  <p>This is the first tab.</p>
  <% if logged_in? %>
      <tr>
        <td><%= current_user.name %></td>
        <td><%= current_user.email %></td>
        <td><%= current_user.admin %></td>
      </tr>
  <% end %>
</div>

</body>
</html> 