<h1>Desempaquetar Password</h1>

<p>Para desempaquetar su password, haga clic el siguiente enlace: <%= link_to "Desempaquetar Password", @url %></p>

<p>
  Si no quiere cambiar su password, por favor ignore este email y su password no cambiará.
</p>

