<!DOCTYPE html>
<html>
<head>

</head>
<body>

<div class="tab">
  <button class="tablinks" onclick="changeText(event, 'Admin')" id="AdminTab"> Admin </button>
  <button class="tablinks" onclick="changeText(event, 'First')" id="defaultOpen"> First </button>
  <button class="tablinks" onclick="changeText(event, 'Second')"> Second </button>
  <button class="tablinks" onclick="changeText(event, 'Third')"> Third </button>
</div>

<div id="First" class="tabcontent">
  <h3>First</h3>
  <p>This is the first tab.</p>
</div>

<div id="Second" class="tabcontent">
  <h3>Second</h3>
  <p>This is the second tab.</p>
</div>

<div id="Third" class="tabcontent">
  <h3>Third</h3>
  <p>This is the third tab.</p>
</div>

<div id="Admin" class="tabcontent">
  <h3>Admin</h3>
  <p>This is the admin tab.</p>
  
  <button><a href="/tabs/test">Back to the first page</a></button>
</div>

<script>
function changeText(evt, number) {
    var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
    }
    document.getElementById(number).style.display = "block";
    evt.currentTarget.className += " active";
}

document.getElementById("defaultOpen").click();
</script>
     
</body>
</html> 