<!DOCTYPE html>
<html>
<head>

</head>
<body>
    
<div class="tab">
  <button class="tablinks" onclick="changeText(event, 'Home')" id="defaultOpen"> Home </button>
  <button class="tablinks" onclick="changeText(event, 'Courses')"> Courses </button>
  <button class="tablinks" onclick="changeText(event, 'Contact Us')"> Contact Us </button>
  <button class="tablinks" onclick="changeText(event, 'Log In')"> Log In </button>
</div>

<div id="Home" class="tabcontent">
  <h3>Home Page</h3>
  <p>This is the first tab.</p>
</div>

<div id="Courses" class="tabcontent">
  <h3>Courses</h3>
  <p>This is the second tab.</p>
</div>

<div id="Contact Us" class="tabcontent">
  <h3>Contact Us</h3>
  <p>This is the third tab.</p>
  
  <button><a href="/tabs/other">Another Page</a></button>
</div>

<div id="Log In" class="tabcontent">
  <h3>Log In</h3>
  <div class="container">
    <label><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="uname" required>
    <br>
    <label><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" required>
    <br>
    <button type="submit" margin="auto">Login</button>
    <br><br>
    <!--<input type="checkbox" checked="checked"> Remember me-->
  </div>
</div>

<script>
function changeText(evt, number) {
    var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
    }
    document.getElementById(number).style.display = "block";
    evt.currentTarget.className += " active";
}

document.getElementById("defaultOpen").click();
</script>
</body>
</html> 