<div>
  <span class="h1">Courses</span>
</div>
<br>

<% @courses.each_with_index do |course, i| %>
    <%= link_to course_path(course), class: 'btn btn-default btn-lg btn-course', role: 'button' do %>
        <span><%= course.courseName %></span>
    <% end %>
<% end %>

<% if admin? %>
    <%= link_to new_course_path, class: 'btn btn-default btn-primary btn-lg btn-course', role: 'button' do %>
        <span>Add New Course</span>
    <% end %>
<% end %>