<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <nav>
      <ul class="nav navbar-nav navbar-left">
        <li><%= link_to "Betty's Web Page", root_path, id: "logo" %></li>
      </ul>
    </nav>
    <!--<nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home",   test_path %></li>
        <li><%= link_to "Help",   help_path %></li>
        <li><%= link_to "Log in", '#' %></li>
      </ul>
    </nav>-->
  </div>
</header>